<%= form_with(model: @message, local: true) do |form| %>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  <%= form.hidden_field :receiver_id, value: @receiver.id %>
  <div class="actions">
    <%= form.submit 'Send Message' %>
  </div>
<% end %>