<div>
    <div>
        <div></div>
        <div class="grid grid-cols-2 text-center">
            <button id="my-posts-button" class="font-bold">My Posts</button>
            <button id="saved-posts-button">Saved</button>
        </div>
    </div>
    <hr class="mb-8 mt-2" />
    <div id="my-posts-container" class="grid grid-cols-2 gap-8">
        <% @posts.each do |post| %>
            <% if user_signed_in? && post.user == current_user %>
                <div class="relative shadow-lg w-4/5 mx-auto rounded-xl overflow-hidden cursor-pointer">
                    <div id="menu-<%= post.id %>" class="absolute top-4 right-16 space-x-2 z-20 hidden">
                        <%= link_to 'Edit', edit_post_path(post), class: "bg-blue-500 text-white px-2 py-1 rounded", onclick: "event.stopPropagation();" %>
                        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "bg-red-500 text-white px-2 py-1 rounded", onclick: "event.stopPropagation();" %>
                    </div>
                    <button class="absolute top-3 right-4 space-x-2 z-20" onclick="toggleMenu(<%= post.id %>)">
                        <svg class="w-8 h-8 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-width="4" d="M6 12h.01m6 0h.01m5.99 0h.01"/>
                        </svg>
                    </button>
                    <% if post.images.attached? %>
                <!-- make carousel -->
                  <div data-controller="carousel" class="carousel relative overflow-hidden custom-hover-index-image">
                    <div data-carousel-target="slides" class="flex transition-transform duration-300" onclick="location.href='<%= post_path(post) %>'">
                      <% post.images.each_with_index do |image, index| %>
                        <div class="carousel-item w-full relative pb-[56.25%] flex-shrink-0">
                          <%= image_tag(image, class: "absolute inset-0 w-full h-full object-cover") %>
                        </div>
                      <% end %>
                    </div>
                    <!-- Navigation Arrows -->
                    <button data-action="carousel#previous" class="absolute custom-hover-index left-0 top-1/2 transform text-sm -translate-y-1/2 w-7 h-7 shadow-lg bg-white rounded-full text-gray-800">
                      &#10094;
                    </button>
                    <button data-action="carousel#next" class="absolute custom-hover-index right-0 top-1/2 transform text-sm -translate-y-1/2 w-7 h-7 shadow-lg bg-white rounded-full text-gray-800">
                      &#10095;
                    </button>
                  </div>
              <% else %>
                <div class="relative pb-[56.25%] bg-gray-100 rounded-md" onclick="location.href='<%= post_path(post) %>'"></div>
              <% end %>
                    <div class="p-6 relative z-20" onclick="location.href='<%= post_path(post) %>'">
                        <h1 class="text-xl font-bold mb-2"><%= post.job_title %></h1>
                        <p class="text-sm text-gray-600"><%= post.user.email %></p>
                    </div>
                    </div>
            <% end %>
        <% end %>
    </div>
    <div id="saved-posts-container" class="grid grid-cols-2 gap-8 hidden">
        <% current_user.saved_posts.each do |saved_post| %>
            <li>
            <%= link_to saved_post.post.job_title, post_path(saved_post.post) %>
            </li>
        <% end %>
    </div>
    <ul>
</ul>
</div>

<script>
    const myPostsContainer = document.getElementById('my-posts-container');
    const myPostsButton = document.getElementById('my-posts-button');
    const savedPostsButton = document.getElementById('saved-posts-button');
    const savedPostsContainer = document.getElementById('saved-posts-container')

    myPostsButton.addEventListener('click', () => {
        if (myPostsContainer.classList.contains('hidden')) {
            myPostsContainer.classList.remove('hidden');
            savedPostsContainer.classList.add('hidden');
            myPostsButton.classList.add('font-bold');
            savedPostsButton.classList.remove('font-bold');
        }
    });

    savedPostsButton.addEventListener('click', () => {
        if(!myPostsContainer.classList.contains('hidden')) {
            myPostsContainer.classList.add('hidden');
            savedPostsContainer.classList.remove('hidden');
            myPostsButton.classList.remove('font-bold');
            savedPostsButton.classList.add('font-bold');
        }
    });

    function toggleMenu(postId) {
        event.stopPropagation();
        const menu = document.getElementById(`menu-${postId}`);
        menu.classList.toggle('hidden');
    }
</script>