<div id="posts_container" class="container mx-auto px-4">
  <% if @searching || @filtering_by_category %>
  <% if @selected_category %>
    <h2 class="mb-4 text-2xl"><%= @selected_category %></h2>
  <% end %>
    <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-6">
  <% @posts.each do |post| %>
    <div class="relative shadow-lg rounded-xl overflow-hidden cursor-pointer" >
      <div id="menu-<%= post.id %>" class="absolute top-4 right-16 space-x-2 z-20 hidden">
        <% if user_signed_in? && post.user == current_user %>
          <%= link_to 'Edit', edit_post_path(post), class: "bg-blue-500 text-white px-2 py-1 rounded", onclick: "event.stopPropagation();" %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "bg-red-500 text-white px-2 py-1 rounded", onclick: "event.stopPropagation();" %>
        <% end %>
      </div>
      <button class="absolute top-3 right-4 space-x-2 z-20" onclick="toggleMenu(<%= post.id %>)">
        <svg class="w-8 h-8 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-width="4" d="M6 12h.01m6 0h.01m5.99 0h.01"/>
        </svg>
      </button>
      <% if post.images.attached? %>
                <!-- make carousel -->
                  <div data-controller="carousel" class="carousel relative overflow-hidden custom-hover-index-image">
                    <div data-carousel-target="slides" class="flex transition-transform duration-300" onclick="location.href='<%= post_path(post) %>'">
                      <% post.images.each_with_index do |image, index| %>
                        <div class="carousel-item w-full relative pb-[56.25%] flex-shrink-0">
                          <%= image_tag(image, class: "absolute inset-0 w-full h-full object-cover") %>
                        </div>
                      <% end %>
                    </div>
                    <!-- Navigation Arrows -->
                    <button data-action="carousel#previous" class="absolute custom-hover-index left-0 top-1/2 transform text-sm -translate-y-1/2 w-7 h-7 shadow-lg bg-white rounded-full text-gray-800">
                      &#10094;
                    </button>
                    <button data-action="carousel#next" class="absolute custom-hover-index right-0 top-1/2 transform text-sm -translate-y-1/2 w-7 h-7 shadow-lg bg-white rounded-full text-gray-800">
                      &#10095;
                    </button>
                  </div>
              <% else %>
                <div class="relative pb-[56.25%] bg-gray-100 rounded-md" onclick="location.href='<%= post_path(post) %>'"></div>
              <% end %>
      <div class="p-6 relative z-20" onclick="location.href='<%= post_path(post) %>'">
        <h1 class="text-xl font-bold mb-2 truncate"><%= post.job_title %></h1>
        <p class="text-sm text-gray-600"><%= post.user.email %></p>
      </div>
    </div>
  <% end %>
</div>
  <% else %>
    <% @posts_by_category.each do |category, posts| %>
      <div class="mb-8">
        <h2 class="text-2xl font-bold mb-4"><%= category %></h2>
        <div class="flex overflow-x-scroll space-x-4 pb-4">
          <% posts.each do |post| %>
            <div class="relative shadow-lg rounded-xl overflow-hidden cursor-pointer min-w-[300px]">
              <div id="menu-<%= post.id %>" class="absolute top-4 right-16 space-x-2 z-20 hidden">
                <% if user_signed_in? && post.user == current_user %>
                  <%= link_to 'Edit', edit_post_path(post), class: "bg-blue-500 text-white px-2 py-1 rounded", onclick: "event.stopPropagation();" %>
                  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "bg-red-500 text-white px-2 py-1 rounded", onclick: "event.stopPropagation();" %>
                <% end %>
              </div>
              <button class="absolute top-3 right-4 space-x-2 z-20" onclick="toggleMenu(<%= post.id %>)">
                <svg class="w-8 h-8 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-width="4" d="M6 12h.01m6 0h.01m5.99 0h.01"/>
                </svg>
              </button>
              <% if post.images.attached? %>
                <!-- make carousel -->
                  <div data-controller="carousel" class="carousel relative overflow-hidden custom-hover-index-image">
                    <div data-carousel-target="slides" class="flex transition-transform duration-300" onclick="location.href='<%= post_path(post) %>'">
                      <% post.images.each_with_index do |image, index| %>
                        <div class="carousel-item w-full relative pb-[56.25%] flex-shrink-0">
                          <%= image_tag(image, class: "absolute inset-0 w-full h-full object-cover") %>
                        </div>
                      <% end %>
                    </div>
                    <!-- Navigation Arrows -->
                    <button data-action="carousel#previous" class="absolute custom-hover-index left-0 top-1/2 transform text-sm -translate-y-1/2 w-7 h-7 shadow-lg bg-white rounded-full text-gray-800">
                      &#10094;
                    </button>
                    <button data-action="carousel#next" class="absolute custom-hover-index right-0 top-1/2 transform text-sm -translate-y-1/2 w-7 h-7 shadow-lg bg-white rounded-full text-gray-800">
                      &#10095;
                    </button>
                  </div>
              <% else %>
                <div class="relative pb-[56.25%] bg-gray-100 rounded-md" onclick="location.href='<%= post_path(post) %>'"></div>
              <% end %>
              
              <div class="p-6 relative z-20" onclick="location.href='<%= post_path(post) %>'">
                <h1 class="text-xl font-bold mb-2 truncate"><%= post.job_title %></h1>
                <p class="text-sm text-gray-600"><%= post.user.email %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<script>
  function toggleMenu(postId) {
    event.stopPropagation();
    const menu = document.getElementById(`menu-${postId}`);
    menu.classList.toggle('hidden');
  }
</script>